# Required packages
fastapi
uvicorn
requests
aiokafka
supabase
# aiohttp
# numpy
# pandas
# pika
# python-dateutil
# pytz
# six
# SQLAlchemy
# typing_extensions
# tzdata

# Testing and syntax checking
# pytest
# pylint
# black
# autopep8
